# Getting and Knowing Data

In [2]:
import pandas as pd

# Step 1: import dataset

In [3]:
df = pd.read_excel("rượu.xlsx")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.8,0.880,0.00,2.6,0.098,25,67,0.99680,3.20,0.68,9.8,5
1,7.8,0.760,0.04,2.3,0.092,15,54,0.99700,3.26,0.65,9.8,5
2,11.2,0.280,0.56,1.9,0.075,17,60,0.99800,3.16,0.58,9.8,6
3,7.4,0.700,0.00,1.9,0.076,11,34,0.99780,3.51,0.56,9.4,5
4,7.4,0.660,0.00,1.8,0.075,13,40,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1593,6.2,0.600,0.08,2.0,0.090,32,44,0.99490,3.45,0.58,10.5,5
1594,5.9,0.550,0.10,2.2,0.062,39,51,0.99512,3.52,0.76,11.2,6
1595,6.3,0.510,0.13,2.3,0.076,29,40,0.99574,3.42,0.75,11.0,6
1596,5.9,0.645,0.12,2.0,0.075,32,44,0.99547,3.57,0.71,10.2,5
1597,6.0,0.310,0.47,3.6,0.067,18,42,0.99549,3.39,0.66,11.0,6

In [19]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
1,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
2,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
3,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
4,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5

# Step 2:Dataset Overview

In [23]:
df.shape

(1598, 12)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1598 entries, 0 to 1597
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1598 non-null   float64
 1   volatile acidity      1598 non-null   float64
 2   citric acid           1598 non-null   float64
 3   residual sugar        1598 non-null   float64
 4   chlorides             1598 non-null   float64
 5   free sulfur dioxide   1598 non-null   int64
 6   total sulfur dioxide  1598 non-null   int64
 7   density               1598 non-null   float64
 8   pH                    1598 non-null   float64
 9   sulphates             1598 non-null   float64
 10  alcohol               1598 non-null   float64
 11  quality               1598 non-null   int64
dtypes: float64(9), int64(3)
memory usage: 149.9 KB

In [21]:
#print all columns' name
list(df.columns)

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol',
 'quality']

In [13]:
df.index

RangeIndex(start=0, stop=1598, step=1)

In [20]:
df.describe(include="all")

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000,1598.000000
mean,8.320213,0.527713,0.271145,2.539205,0.087474,15.878598,46.476220,0.996746,3.310989,0.658210,10.423623,5.636421
std,1.741489,0.179064,0.194744,1.410279,0.047079,10.462996,32.904737,0.001888,0.154355,0.169542,1.065694,0.807665
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997837,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

# Loc và iloc

In [25]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
1,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
2,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
3,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
4,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5

In [31]:
df.loc[(df["quality"] == 5) | (df["residual sugar"] == 2)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.8,0.880,0.00,2.6,0.098,25,67,0.99680,3.20,0.68,9.8,5
1,7.8,0.760,0.04,2.3,0.092,15,54,0.99700,3.26,0.65,9.8,5
3,7.4,0.700,0.00,1.9,0.076,11,34,0.99780,3.51,0.56,9.4,5
4,7.4,0.660,0.00,1.8,0.075,13,40,0.99780,3.51,0.56,9.4,5
5,7.9,0.600,0.06,1.6,0.069,15,59,0.99640,3.30,0.46,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1581,6.1,0.715,0.10,2.6,0.053,13,27,0.99362,3.57,0.50,11.9,5
1582,6.2,0.460,0.29,2.1,0.074,32,98,0.99578,3.33,0.62,9.8,5
1588,6.6,0.725,0.20,7.8,0.073,29,79,0.99770,3.29,0.54,9.2,5
1593,6.2,0.600,0.08,2.0,0.090,32,44,0.99490,3.45,0.58,10.5,5
1596,5.9,0.645,0.12,2.0,0.075,32,44,0.99547,3.57,0.71,10.2,5

In [32]:
df.loc[(df["quality"] == 5) & (df["residual sugar"] == 2)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
62,7.0,0.735,0.05,2.0,0.081,13,54,0.99660,3.39,0.57,9.8,5
67,9.3,0.320,0.57,2.0,0.074,27,65,0.99690,3.28,0.79,10.7,5
77,6.7,0.750,0.12,2.0,0.086,12,80,0.99580,3.38,0.52,10.1,5
81,7.4,0.500,0.47,2.0,0.086,21,73,0.99700,3.36,0.57,9.1,5
91,8.6,0.490,0.29,2.0,0.110,19,133,0.99720,2.93,1.98,9.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1562,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1563,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1566,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1593,6.2,0.600,0.08,2.0,0.090,32,44,0.99490,3.45,0.58,10.5,5
1596,5.9,0.645,0.12,2.0,0.075,32,44,0.99547,3.57,0.71,10.2,5

In [33]:
df.loc[(df["quality"] == 5) & (df["residual sugar"] == 2) , ("residual sugar","total sulfur dioxide")]

      residual sugar  total sulfur dioxide
62               2.0                    54
67               2.0                    65
77               2.0                    80
81               2.0                    73
91               2.0                   133
...              ...                   ...
1562             2.0                    20
1563             2.0                    20
1566             2.0                    20
1593             2.0                    44
1596             2.0                    44

[71 rows x 2 columns]

In [34]:
df.loc[(df["quality"] <= 5) & (df["residual sugar"] == 2)]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
62,7.0,0.735,0.05,2.0,0.081,13,54,0.99660,3.39,0.57,9.8,5
67,9.3,0.320,0.57,2.0,0.074,27,65,0.99690,3.28,0.79,10.7,5
77,6.7,0.750,0.12,2.0,0.086,12,80,0.99580,3.38,0.52,10.1,5
81,7.4,0.500,0.47,2.0,0.086,21,73,0.99700,3.36,0.57,9.1,5
91,8.6,0.490,0.29,2.0,0.110,19,133,0.99720,2.93,1.98,9.8,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1562,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1563,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1566,7.2,0.695,0.13,2.0,0.076,12,20,0.99546,3.29,0.54,10.1,5
1593,6.2,0.600,0.08,2.0,0.090,32,44,0.99490,3.45,0.58,10.5,5
1596,5.9,0.645,0.12,2.0,0.075,32,44,0.99547,3.57,0.71,10.2,5

In [35]:
df.iloc[7]

fixed acidity            7.8000
volatile acidity         0.5800
citric acid              0.0200
residual sugar           2.0000
chlorides                0.0730
free sulfur dioxide      9.0000
total sulfur dioxide    18.0000
density                  0.9968
pH                       3.3600
sulphates                0.5700
alcohol                  9.5000
quality                  7.0000
Name: 7, dtype: float64

In [37]:
df.iloc[8:12]

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
8,7.5,0.500,0.36,6.1,0.071,17,102,0.9978,3.35,0.80,10.5,5
9,6.7,0.580,0.08,1.8,0.097,15,65,0.9959,3.28,0.54,9.2,5
10,7.5,0.500,0.36,6.1,0.071,17,102,0.9978,3.35,0.80,10.5,5
11,5.6,0.615,0.00,1.6,0.089,16,59,0.9943,3.58,0.52,9.9,5

In [38]:
x = df.iloc[3:5, :-1]
y = df.iloc[3:5, -1]
print(y)

3    5
4    5
Name: quality, dtype: int64

# Data Manipulation

In [40]:
df["fixed acidity"].dtype

dtype('float64')

# Apply

In [44]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5
1,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5
2,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6
3,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5
4,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5

In [49]:
df["sugar_alcohol_ratio"] = df["residual sugar"] / df["alcohol"]

In [50]:
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,total_acidity,sugar_alcohol_ratio
0,7.8,0.88,0.00,2.6,0.098,25,67,0.9968,3.20,0.68,9.8,5,8.68,0.265306
1,7.8,0.76,0.04,2.3,0.092,15,54,0.9970,3.26,0.65,9.8,5,8.60,0.234694
2,11.2,0.28,0.56,1.9,0.075,17,60,0.9980,3.16,0.58,9.8,6,12.04,0.193878
3,7.4,0.70,0.00,1.9,0.076,11,34,0.9978,3.51,0.56,9.4,5,8.10,0.202128
4,7.4,0.66,0.00,1.8,0.075,13,40,0.9978,3.51,0.56,9.4,5,8.06,0.191489

# Calculate the total residual sugar up to now

In [51]:
total_sugar = df["residual sugar"].sum()
print("Tổng lượng đường dư:", total_sugar)

Tổng lượng đường dư: 4057.6500000000005

# Group By

In [55]:
c = df.groupby("citric acid")["residual sugar"].sum()
c.sort_values(ascending = False).head(5)

citric acid
0.00    293.60
0.49    203.30
0.24    118.55
0.02    117.80
0.32     90.60
Name: residual sugar, dtype: float64

In [57]:
df["quality"].value_counts()

quality
5    680
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [58]:
df["quality"].nunique()

6